.artbowl_logo{
    font-family: 'Oswald', sans-serif;
}

.artbowl_footer_nav{
    font-size: .6rem
}

.artbowl_footer{
    text-align: center;
    margin-top: 2rem;
}

.artbowl_header{
    text-align: center; margin: 2rem 0;
}
