
    <div class="artbowl_header">

        <div>
            <h1 class="artbowl_logo";>Artbowl</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}">
                <span>login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>

    </div>